@model DichVuThuCungKVH.Model.KhachHang

@{
    ViewBag.Title = "Register";
}

<h2>Customer Registration</h2>

@using (Html.BeginForm("DangKyDichVu", "DichVu", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div>
        <label for="TenKH">Tên:</label>
        @Html.TextBoxFor(model => model.TenKH)
        @Html.ValidationMessageFor(model => model.TenKH)
    </div>

    <div>
        <label for="SDT">Số Điện Thoại</label>
        @Html.TextBoxFor(model => model.SDT)
        @Html.ValidationMessageFor(model => model.SDT)
    </div>

    <div>
        <label for="DiaChi">Địa Chỉ:</label>
        @Html.TextBoxFor(model => model.DiaChi)
        @Html.ValidationMessageFor(model => model.DiaChi)
    </div>

    <div>
        <label for="Email">Email:</label>
        @Html.TextBoxFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div>
        <label for="GhiChu">Notes:</label>
        @Html.TextAreaFor(model => model.GhiChu, new { rows = 4, cols = 50 })
        @Html.ValidationMessageFor(model => model.GhiChu)
    </div>

    <div>
        <input type="submit" value="DangKy" />
    </div>
}